EC_URL=https://staging.ucarworld.com
EC_BASIC_AUTH_USERNAME=xxx
EC_BASIC_AUTH_PASSWORD="xxx"

ADMIN_URL=https://staging-admin.ucarworld.com
ADMIN_BASIC_AUTH_USERNAME=xxx
ADMIN_BASIC_AUTH_PASSWORD="xxx"

BUYER_EMAIL=xxx@example.com
BUYER_PASSWORD="xxx"

SELLER_EMAIL=xxx@example.com
SELLER_PASSWORD="xxx"

ADMIN_EMAIL=xxx@example.com
ADMIN_PASSWORD="xxx"
